.movie-filter{
    padding-top: 64px;
    display: flex;
    color: #fff;
    .filter-section{
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-left: 15px;
        background-color: var(--primary-color);

        button{
            position: fixed;
            top: 92vh;
            margin-top: 0.5rem;
            width: 150px;
            border: 1px solid #1bb842;
            color: #1bb842;
            background-color: #fff;
            font-weight: 600;
        }
        button:hover{
            background-color: #1bb842;
            border: 1px solid #1bb842;
            color: #fff;
        }
        
    }
}
.not-respond{
    background-color: var(--primary-color);
    width: 100%;
    padding-top: 25px;
    padding-left: 50px;
}