
.movie-media{
    h1,h3{color: black}
    border: 1px solid var(--border-secondary-color);
    padding: 0.4rem 1rem 1rem 1rem;
    box-shadow: 0 2px 8px #0000001a;
    
    .titles{

        display: flex;
        align-items: center;
        justify-content: space-between;

        h1{
            margin-right: 2rem;
        }
        .center-of-titles{
            display: flex;
            h3{
                
                margin-right: 2rem;
                cursor: pointer;
                
            }
        }
    }

}