.rated-movies{
    min-width: 1000px;
    margin-top: 0.5rem;
    margin-bottom: 2rem;
    display: flex;
    flex-direction: column;

    .movies{
        display: flex;
        overflow-x: auto;
        box-shadow: 0 2px 8px #0000001a;
        border: 1px solid var(--border-secondary-color);
        padding: 1rem;
        .movie{
            text-align: center;
            width: 260px;
            min-width: 260px;
            margin-right: 0.4rem;

            .movie-info{
                h3{
                    font-weight: bold;
                }
                span{
                    font-style: italic;
                    font-weight: bold;
                    font-size: 1em;
                    padding: 0.05rem 0.3rem;

                }
            }
            
            img {
                width: 250px;
                height: auto;    
            }
        }
    }
}