.search-bar {
    background-color: var(--primary-color);
    border: 1px solid var(--secondary-color);
    height: 215px;

    .search-margin {
        position: relative;
        margin-top: 80px; /*ortalamak istediğinde değiştirmen gerekecek*/
    }

    .search-bar-input {

        .ant-select-selector {

            background-color: var(--tertiary-color);
            border: 2px solid var(--border-primary-color);

            .ant-select-selection-placeholder {
                // padding: 0.5rem 1rem;
                color: #ffffffc2;
            }

            .ant-select-selection-search {
                input {
                    color: white;
                }
            }
        }
    }
}