.movie-backdrops {
    .movie-content {
        display: flex;
        justify-content: center;
        .movie-content-img {
            display: flex;
            overflow-x: auto;
            padding-top: 0.5rem;
            padding-bottom: 1rem;
            .image {
                margin-right: 0.5rem;
                height: 350px;
                width: auto;
            }

        }
    }
}