.movie-posters {
    .movie-content {
        display: flex;
        justify-content: center;
        .movie-content-img {
            display: flex;
            overflow-x: auto;
            padding-top: 0.5rem;
            padding-bottom: 0.5rem;
            .image {
                margin-right: 0.5rem;
                height: 330px;
                width: auto;

            }

        }
    }
}