.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    background-color: var(--secondary-color);
    border-bottom: 1px solid #191f22;
    height: var(--navbar-height);
    width: 100%;
    z-index: 10;
    box-shadow: 0.1px 1px 5px rgba(0, 0, 0, 1);

    a {
        color: white;

    }

    .main-page {
        margin-left: 3rem;
        a{
            font-size: 1.5em;
        }
    }
    .movies{
        a{
            font-size: 1.5em;
        }
    }
    .log-in-out {
        display: flex;
        margin-right: 3rem;
        
        button{
            display: flex;
            align-items: center;
            margin-right: 1rem;
            font-weight: bold;
            font-size: 1.1em;
        }
    }
}