.top-billed-cast {
    border: 1px solid var(--border-secondary-color);
    padding: 0.4rem 1rem 1rem 1rem;
    box-shadow: 0 2px 8px #0000001a;
    margin-top: 1rem;
    h1 {
        color: #000;
        position: relative;
        
    }

    .actors {
        display: flex;
        overflow-x: auto;
        padding: 1rem 1rem 1rem 0rem;
        justify-content: center;
        .actor {
            box-shadow: 0 2px 8px #0000001a;
            border: 1px solid var(--border-secondary-color);
            width: 160px;
            display: flex;
            flex-direction: column;
            margin-right: 0.8rem;
            
            p {
                color: black;
                padding-left: 0.4rem;
                padding-right: 0.4rem;
            }
            .original-name {
                font-weight: bold;
                padding-top: 0.3rem;
            }
            .movie-name{
                padding-bottom: 0.2rem;
            }
            img {
                max-width: 138;
            }
        }
    }
}