.movie-videos {
    .movie-content {
        display: flex;
        justify-content: center;
        .movie-content-img {
            display: flex;
            overflow-x: auto;
            .image {
                margin-right: 1rem;
                cursor: pointer;
                padding-bottom: 0.5rem;
            }

        }
    }
}